# .NET Core
bin/
obj/

# Node
node_modules/
dist/
dist-electron/
.npm/

# Visual Studio
.vs/
*.user

# Build outputs
build/
*.pyc

# OS
.DS_Store
Thumbs.db
/.venv
/src/Starfield2026.Assets/Models
src/Starfield2026.Tests
tools/lpc-cli/output
tools/dae-to-gltf/test-output